.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}
.footer__hr {
  font-size: var(--size-xxs);
  width: 100%;
  border-top: 1px solid var(--clr-primary);
  margin-bottom: 1rem;
}

.footer__description {
  font-size: var(--size-xs);
  max-width: 60ch;
}
